<ion-content>
  <div class="center">
    <div class="logo">
      <img src="../../../assets/icon/Group 21.png" width="100%" alt="">
    </div>
    <ion-grid fixed>
      <ion-row>
        <ion-col offset="4" size="4">
          <ion-button expand="block" (click)="registerPage()"  shape="round">
            REGISTER
          </ion-button>
        </ion-col>
        <ion-col offset="4" size="4">
          <ion-button expand="block" (click)="loginPage()" shape="round">
            LOGIN
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
