<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab2">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="thumbs-up"></ion-icon>
      <ion-label>Holla Hub</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Holla Money</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="sync"></ion-icon>
      <ion-label>Vend</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
