<ion-avatar slot="start" class="profile">
  <img src="../../assets/icon/user.jpg" />
</ion-avatar>

<ion-content class="home">
  <div class="wrapper">
    <map></map>
  </div>
</ion-content>
<ion-footer *ngIf="request">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../assets/icon/user.jpg" />
      </ion-avatar>
      <ion-label text-wrap>
        <h2>{{client.email}}</h2>
        <P>
          <ion-icon slot="icon-only" color="primary" name="star"></ion-icon>
          4.5
        </P>
      </ion-label>
      <ion-fab-button slot="end" color="primary" size="small" (click)="chat(client._id)" disabled>
        <ion-icon name="chatboxes"></ion-icon>
      </ion-fab-button>
  
    </ion-item>
    <ion-label *ngIf="jobinprogress" padding>Work in progress.....</ion-label>
    <ion-grid fixed *ngIf="status == 'accepted'">
      <ion-row>
        <ion-col offset="2" size="8">
          <ion-button color="primary" expand="block" (click)="arriveLocation()" shape="round">
            ARRIVE LOCATION
          </ion-button>
        </ion-col>
        <ion-col offset="2" size="8">
          <ion-button expand="block" fill="clear" (click)="rejectjob()" shape="round">
            CANCEL
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-text class="ion-text-sm-left" color="primary" *ngIf="status == 'arrived'">
      <p style="text-align: center">Wait for your client to comfirm your arrival</p>
    </ion-text>
    <ion-text class="ion-text-sm-left" color="primary" *ngIf="status == 'inprogress'">
      <p style="text-align: center; font-style: italic;">
        Your client has decided to make payment in Cash<br/> 
        <strong>Work in progress....</strong>
      </p>
    </ion-text>
  </ion-toolbar>
</ion-footer>