<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input formControlName="firstName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input formControlName="lastName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">E-Mail</ion-label>
      <ion-input required formControlName="email" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="isValid('email')" lines="none">
      <ion-label color="danger" class="form-error">
        <p>Please enter a valid email address.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input required formControlName="phone" type="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Sex</ion-label>
      <ion-select formControlName="sex" value="selected">
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input required formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input required formControlName="confirmPassword" type="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="RegisterForm.errors?.mismatchfields && RegisterForm.controls.confirmPassword.touched" lines="none">
      <ion-label color="danger" class="form-error">
        <p>Passwords Do not Match!!!</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input required formControlName="address" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Accept terms to use</p>
      </ion-label>
      <ion-checkbox slot="start" formControlName="accept_discliamer"></ion-checkbox>
    </ion-item>
    <ion-button block color="primary" type="submit" [disabled]="RegisterForm.invalid || RegisterForm.errors?.mismatchfields">
      Register
    </ion-button>
  </form>
</ion-content>
