<ion-card-header>
  <ion-card-title>JOB DEY!!!</ion-card-title>
  <ion-card-subtitle>You wan work???</ion-card-subtitle>
</ion-card-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button color="success" expand="block" (click)="accept()">
          ACCEPT
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="danger" expand="block" (click)="reject()">
          REJECT
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>